<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1>
            <a href="{:url('Index/index')}" title="返回后台首页"><img {if empty($admin.photo)} src="/static/admin/images/y.jpg" {else/} src="{$admin.photo}" {/if} class="radius-circle rotate-hover" height="50" alt="头像" /></a>
            后台管理中心</h1><p>当前管理员：{$admin.user}</p>
    </div>
    <div class="head-l"><a class="button button-little bg-green" href="/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="javascript:void(0);" id="clear" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="javascript:void(0);" id="out"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
