<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span></span>管理员管理</h2>
    <ul>
        <li><a href="{:url('Group/list')}" target="right"><span class="icon-caret-right"></span>权限组管理</a></li>
        <li><a href="{:url('Admin/list')}" target="right"><span class="icon-caret-right"></span>管理员列表</a></li>
    </ul>
    <h2><span class="icon-th-large"></span></span>功能配置</h2>
    <ul>
        <li><a href="{:url('Functional/pay')}" target="right"><span class="icon-caret-right"></span>支付配置</a></li>
        <li><a href="{:url('Functional/sms')}" target="right"><span class="icon-caret-right"></span>短信配置</a></li>
        <li><a href="{:url('Functional/email')}" target="right"><span class="icon-caret-right"></span>邮件配置</a></li>
        <li><a href="{:url('Functional/thirdparty')}" target="right"><span class="icon-caret-right"></span>第三方登录</a></li>
    </ul>
    <h2><span class="icon-file-text"></span></span>日志信息</h2>
    <ul>
        <li><a href="{:url('AdminLog/loginLog')}" target="right"><span class="icon-caret-right"></span>登录日志</a></li>
        <li><a href="{:url('AdminLog/operationLog')}" target="right"><span class="icon-caret-right"></span>操作日志</a></li>
    </ul>
    <h2><span class="icon-gear"></span>系统管理</h2>
    <ul>
        <li><a href="{:url('System/system')}" target="right"><span class="icon-caret-right"></span>系统设置</a></li>
        <li><a href="{:url('System/passEdit')}" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a href="{:url('System/switch')}" target="right"><span class="icon-caret-right"></span>开关管理</a></li>
        <li><a href="{:url('System/security')}" target="right"><span class="icon-caret-right"></span>安全配置</a></li>
        <li><a href="{:url('System/block')}" target="right"><span class="icon-caret-right"></span>屏蔽词</a></li>
        <li><a href="{:url('System/update')}" target="right"><span class="icon-caret-right"></span>系统升级</a></li>
    </ul>
</div>