<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>修改密码</title>
  {include file='public/style'}
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改会员密码</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="" id="form">
      <div class="form-group">
        <div class="label">
          <label>管理员帐号：</label>
        </div>
        <div class="field">
          <!--隐藏字段-->
          <input type="hidden" name="id" value="{$pass.id}" >
          <label style="line-height:33px;">
           {$pass.user}
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label>原始密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpassword" name="mpassword" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label>新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="password" size="50" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" name="passwords" size="50" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,repeat#password:两次输入的密码不一致" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" id="submit" type="button"> 提交</button>
        </div>
      </div>      
    </form>
  </div>
</div>
{include file='public/footer'}
<script>
  $("#submit").click(function (){
    $.ajax({
      type:"post",
      dataType:"json",
      url:"{:url('System/passEdit')}",
      data:$("#form").serialize(),
      success:function (data){
        if (data.code === 1){
          toastr.success(data.msg);
          setTimeout(function (){
            location.href = data.url;
          },2000);
        }else{
          if (data.code === 0){
            toastr.error(data.msg);
          }else{
            toastr.error(data.msg);
          }
        }
      }
    });
  });
</script>
</body></html>