<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>短信配置</title>
    {include file='public/style'}
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 阿里云短信配置</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" id="ali">
            <div class="form-group">
                <div class="label">
                    <label>阿里云accesskeyId：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="accesskey_id" value="{$sms.accesskey_id}" placeholder="阿里云accesskeyId"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>阿里云accesskey密钥：</label>
                </div>
                <div class="field">
                    <input type="password" class="input" name="accesskey_secret" value="{$sms.accesskey_secret}" placeholder="阿里云accesskey密钥" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>发送测试短信：</label>
                </div>
                <div class="field">
                    <input type="text" id="ali_phone" name="ali_phone" class="input tips" placeholder="测试手机号码" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right"/>
                    <input type="button" class="button bg-blue margin-left" id="aliTest" value="发送测试" >
                    <div class="tips"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 短信宝配置</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="" id="smsbao">
            <div class="form-group">
                <div class="label">
                    <label>短信宝账号：</label>
                </div>
                <div class="field">
                    <input type="text" class="input" name="smsbao_account" value="{$sms.smsbao_account}" placeholder="短信宝账号"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>短信宝密码：</label>
                </div>
                <div class="field">
                    <input type="password" class="input" name="smsbao_pass" value="{$sms.smsbao_pass}" placeholder="短信宝密码"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>发送测试短信：</label>
                </div>
                <div class="field">
                    <input type="text" id="smsbao_phone" name="smsbao_phone" class="input tips" placeholder="测试手机号码" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right"/>
                    <input type="button" class="button bg-blue margin-left" id="smsbaoTest" value="发送测试" >
                    <div class="tips"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="margin-left: 15px;">
    <div class="form-group">
        <div class="field" style="margin-left: 170px;">
            <button class="button bg-main icon-check-square-o" id="submit" type="button"> 提交</button>
        </div>
    </div>
</div>

{include file='public/footer'}
<script>
    //表单信息提交
    $("#submit").click(function (){
        var ali = $("#ali").serializeArray();
        var smsbao = $("#smsbao").serializeArray();
        //表单合并
        data = ali.concat(smsbao);
        $.ajax({
            type:"post",
            dataType:"json",
            url:"{:url('Functional/smsEdit')}",
            data:data,
            success:function (data){
                if (data.code === 1){
                    toastr.success(data.msg);
                    setTimeout(function (){
                        location.href = data.url;
                    },2000);
                }else{
                    if (data.code === 0){
                        toastr.error(data.msg);
                    }else{
                        toastr.error(data.msg);
                    }
                }
            }
        });
    });

    //短信宝发送测试短信
    $("#smsbaoTest").click(function (){
        var smsbao = $("#smsbao").serializeArray();
        $.ajax({
            dataType:"json",
            type:"post",
            url:"{:url('Functional/testSms')}",
            data:smsbao,
            success:function (data){
                if (data.code === 1){
                    toastr.success(data.msg);
                }else{
                    if (data.code === 0){
                        toastr.error(data.msg);
                    }else{
                        toastr.error(data.msg);
                    }
                }
            }
        });
    });
</script>
</body></html>